<div class="container">
  <h1 style="text-align: center;">Contacts</h1>
  <div class="row gy-5">
    <div class="col-4"  *ngFor="let c of contacts">
      <app-contact-card [contact]="c" style="width: 250px; height:300px;"></app-contact-card>
    </div>
  <div class="card col-4" class="text-center" style="width: 25rem;">
    <form (ngSubmit)="addContact()">
      <div class="mb-3 row">
        <h2>Add a Contact</h2>
      </div>
      <div class="mb-3 row">
        <label for="image" class="col-sm-2 col-form-label">Image:</label>
        <div class="col-sm-10">
          <select class="form-select" type="name" class="form-control" id="image" name="image"
            [(ngModel)]="newContact.image">
            <option value="https://i.pravatar.cc/150?img=10">Adult Female</option>
            <option value="https://i.pravatar.cc/150?img=11">Adult Male</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
          <input type="name" class="form-control" id="name" name="name" [(ngModel)]="newContact.name" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newContact.email" />
        </div>
      </div>
      <button class="btn btn-primary col-sm-2">Add</button>
    </form>
  </div>
</div> 
</div>